@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700;900&family=Inter:wght@400;600&display=swap');
/* font-family: 'Heebo', sans-serif;
font-family: 'Inter', sans-serif */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1152px;
    margin: auto;
}

.flex{
    display: flex;
}

.font-primary{
    font-family: 'Heebo',sans-serif;
}

.font-secondary{
    font-family: 'Inter', sans-serif;
}

.title h1{
    font-size: 44px;
    line-height: 60px;
}

.description p{
    margin-top: 20px;
    margin-right: 115px;
    font-size: 16px;
    line-height: 23px;
}

.img-profile{
    width: 243px;
    height: 243px;
    border-radius: 50%;
    background-image: url("../img/me.jpg");
    background-position:center;

}

.header__data{
    margin-top: 210px;
    margin-bottom: 142px;
}

.section__info{
    margin: 142px;
}

.bg-aqua{
    background-color: #EDF7FA;
}

/* .section__personal{
    justify-content: space-around;
    text-align: left;
} */

.grid{
    display:grid;
    grid-template-columns: 50% auto;
}

.section__personal{
    padding: 0 148px 55px 148px;
}

.section__personal h3{
    color: #136223;
    font-size: 18px;
    line-height: 21px;
    margin-top: 8px;
    margin-bottom: 20px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.015em;
    text-transform: uppercase;
}

.data__contact{
    margin-bottom: 20px;
}

.data__contact span{
    font-size: 16px;
    line-height:20px;
    letter-spacing: 0.05em;
}

.data__contact i {
    margin-right: 10px;
    width:17px;
    height:17px;
}

.data__education{
    margin-bottom: 16px;
}


.data__education h4{
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.015em;
    margin-bottom: 6px;
}

.data__education span{
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin-right: 16px;
    margin-bottom: 6px;
}

.year__education{
    margin-bottom: 6px;
}

.data__education ul{
    margin-left: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
}

.data__education ul li{
margin-bottom: 6px;
}

.section__project{
    margin: 29px 142px 53px 142px;
    flex-direction: column;
}

.section__project h3{
    font-family: 'Inter', sans-serif;
    color: #136223;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.015em;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.project-item{
    display: flex;
    flex-direction: row;
    font-family: 'Heebo',sans-serif
}

.project-item__info{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}

.project-item__info h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
}

.project-item__info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}


.project-item__img img{
    width: 246px;
    height: 180px;
    border-radius: 6px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

.project-item__general{
    display: flex;
    flex-direction:row;
    align-items: center;
    height: 62px;
}

.project-item__year{
    background-color: #142850;
    border-radius: 20px;
}

.project-item__general h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    margin: 4px 10px;
}

.project-item__general span{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-left: 26px;
}

hr{
    margin: 30px 0;
    border: 1px solid #E0E0E0;
}

.section__footer{
    flex-direction: column;
    align-items: center;
    margin: 0 142px;
}
.footer__sosmed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 51px;
}

.footer__sosmed a{
    margin: 17px;
    color: #21243D;
}

.footer__info {
    margin-bottom: 54px;
    margin-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}